In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Raw Data\cycle.csv')
df = pd.DataFrame(data)

In [7]:
df.reset_index(drop=True, inplace=True)
df.drop(columns='Unnamed: 0', inplace=True)

Data Exploration

In [9]:
df.head(100)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C1D650626C8C899A,electric_bike,2024-01-12 15:30:27,2024-01-12 15:37:59,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.903267,-87.634737,41.889177,-87.638506,member
1,EECD38BDB25BFCB0,electric_bike,2024-01-08 15:45:46,2024-01-08 15:52:59,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.902937,-87.634440,41.889177,-87.638506,member
2,F4A9CE78061F17F7,electric_bike,2024-01-27 12:27:19,2024-01-27 12:35:19,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.902951,-87.634470,41.889177,-87.638506,member
3,0A0D9E15EE50B171,classic_bike,2024-01-29 16:26:17,2024-01-29 16:56:06,Wells St & Randolph St,TA1305000030,Larrabee St & Webster Ave,13193,41.884295,-87.633963,41.921822,-87.644140,member
4,33FFC9805E3EFF9A,classic_bike,2024-01-31 05:43:23,2024-01-31 06:09:35,Lincoln Ave & Waveland Ave,13253,Kingsbury St & Kinzie St,KA1503000043,41.948797,-87.675278,41.889177,-87.638506,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AFE29817AB3B97D4,classic_bike,2024-01-25 18:20:27,2024-01-25 18:38:06,Columbus Dr & Randolph St,13263,Ogden Ave & Race Ave,13194,41.884728,-87.619521,41.891795,-87.658751,member
96,3730153218EFD050,electric_bike,2024-01-25 10:01:55,2024-01-25 10:04:35,Desplaines St & Jackson Blvd,15539,Franklin St & Jackson Blvd,TA1305000025,41.878035,-87.644139,41.877708,-87.635321,member
97,89ED82AC80B2C6EF,classic_bike,2024-01-17 15:10:04,2024-01-18 09:24:40,Adler Planetarium,13431,Franklin St & Jackson Blvd,TA1305000025,41.866095,-87.607267,41.877708,-87.635321,member
98,04D460EFDFA6CFCE,classic_bike,2024-01-19 15:44:55,2024-01-19 16:01:38,Indiana Ave & 26th St,TA1307000005,Halsted St & 18th St,13099,41.845687,-87.622481,41.857506,-87.645991,casual
99,67BAFD86BBA75DBD,classic_bike,2024-01-05 13:25:44,2024-01-05 13:38:40,Kimball Ave & Belmont Ave,KA150400009X,Kostner Ave & Wrightwood Ave,23321,41.939394,-87.712068,41.927957,-87.735952,casual

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5860568 entries, 0 to 5860567
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 581.3+ MB

In [11]:
df.isna().sum()

ride_id                     0
rideable_type               0
started_at                  0
ended_at                    0
start_station_name    1073951
start_station_id      1073951
end_station_name      1104653
end_station_id        1104653
start_lat                   0
start_lng                   0
end_lat                  7232
end_lng                  7232
member_casual               0
dtype: int64

In [12]:
df.nunique()

ride_id               5860357
rideable_type               3
started_at            5649602
ended_at              5652165
start_station_name       1808
start_station_id         1763
end_station_name         1815
end_station_id           1768
start_lat              531777
start_lng              513647
end_lat                  2782
end_lng                  2802
member_casual               2
dtype: int64

In [15]:
df.describe(include='all')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
count,5860568,5860568,5860568,5860568,4786617,4786617,4755915,4755915,5.860568e+06,5.860568e+06,5.853336e+06,5.853336e+06,5860568
unique,5860357,3,5649602,5652165,1808,1763,1815,1768,NaN,NaN,NaN,NaN,2
top,A44F278E20A9E917,electric_bike,2024-05-18 18:53:56,2024-10-20 11:18:09.462,Streeter Dr & Grand Ave,13022,Streeter Dr & Grand Ave,13022,NaN,NaN,NaN,NaN,member
freq,2,2980595,7,17,66020,66020,67216,67216,NaN,NaN,NaN,NaN,3708910
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.190218e+01,-8.764622e+01,4.190258e+01,-8.764644e+01,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.474907e-02,2.748958e-02,5.598336e-02,1.136824e-01,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.164000e+01,-8.791000e+01,1.606000e+01,-1.440500e+02,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.188096e+01,-8.766000e+01,4.188096e+01,-8.766000e+01,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.189736e+01,-8.764182e+01,4.189776e+01,-8.764288e+01,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.193000e+01,-8.762952e+01,4.193000e+01,-8.762954e+01,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.207000e+01,-8.752000e+01,8.796000e+01,1.525300e+02,NaN

In [18]:
df.sort_values(by= 'ride_id')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
4640331,000001F70CA28603,classic_bike,2024-09-21 22:14:43.346,2024-09-21 22:17:17.746,Peoria St & Jackson Blvd,13158,900 W Harrison St,13028,41.877642,-87.649618,41.874754,-87.649807,member
4656241,0000033BAC7DD047,electric_bike,2024-09-02 11:52:27.631,2024-09-02 12:10:31.618,NaN,NaN,NaN,NaN,41.930000,-87.630000,41.910000,-87.650000,member
5713927,000004FC986C33E5,electric_bike,2024-12-29 21:25:52.307,2024-12-29 21:56:21.996,Wabash Ave & Roosevelt Rd,TA1305000002,Clybourn Ave & Division St,TA1307000115,41.867227,-87.625961,41.904613,-87.640552,member
3229458,00001004F8DF01C8,classic_bike,2024-08-28 18:09:20.109,2024-08-28 18:17:08.324,Prairie Ave & Garfield Blvd,TA1307000160,Woodlawn Ave & 55th St,TA1307000164,41.794853,-87.618691,41.795264,-87.596471,casual
3937213,00001352515FD211,classic_bike,2024-09-10 17:01:40.767,2024-09-10 17:07:46.416,Calumet Ave & 33rd St,13217,MLK Jr Dr & 29th St,TA1307000139,41.834900,-87.617930,41.842052,-87.617000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
366171,FFFFF27AFD49BB36,electric_bike,2024-02-11 15:01:11,2024-02-11 15:06:32,NaN,NaN,NaN,NaN,41.900000,-87.690000,41.910000,-87.700000,member
1773548,FFFFF4CADD42FAA2,electric_bike,2024-06-25 19:26:25.094,2024-06-25 19:35:01.765,Halsted St & 35th St,TA1308000043,MLK Jr Dr & 29th St,TA1307000139,41.830648,-87.647087,41.842052,-87.617000,member
2220867,FFFFF64DCE696485,classic_bike,2024-06-01 12:09:45.909,2024-06-01 12:15:00.826,Sedgwick St & North Ave,TA1307000038,Larrabee St & Oak St,KA1504000116,41.911386,-87.638677,41.900219,-87.642985,member
1039279,FFFFF7FB66F86AD9,classic_bike,2024-04-23 10:11:56,2024-04-23 10:21:29,Kingsbury St & Kinzie St,KA1503000043,Racine Ave & Washington Blvd,654,41.889177,-87.638506,41.883073,-87.656952,member
504277,FFFFFCD6EE6DA3DA,electric_bike,2024-03-12 13:12:59,2024-03-12 13:22:36,Stewart Ave & 83rd St,20120,NaN,NaN,41.743740,-87.634104,41.760000,-87.630000,casual

In [48]:
df['ride_id'].sample(1000000)

4209641    FF3DC8A297B4C392
5352933    AC798B8AE1F92DCD
2709540    F46D0D41CCD1D3EB
1658187    CE0275E83EE6EB3E
4061513    F69797E93466EC69
                 ...
1648983    716E2B634E52CA5E
1873758    CCBADE099748FE63
1131982    D44AF5F673EF651D
255651     D66449AE72DDF0ED
2870858    192294E093956310
Name: ride_id, Length: 1000000, dtype: object

Data Preparation
- time with miliseconds truncate to seconds

In [49]:
backup = df

In [56]:
df['started_at']

0          2024-01-12 15:30:27
1          2024-01-08 15:45:46
2          2024-01-27 12:27:19
3          2024-01-29 16:26:17
4          2024-01-31 05:43:23
                  ...
5860563    2024-12-11 08:23:46
5860564    2024-12-09 12:26:15
5860565    2024-12-31 17:10:03
5860566    2024-12-01 14:39:47
5860567    2024-12-17 06:38:32
Name: started_at, Length: 5860568, dtype: object

In [55]:
df['started_at'] = df['started_at'].str.split('.').str[0]

In [57]:
df['ended_at'] = df['ended_at'].str.split('.').str[0]

In [58]:
df['ended_at'] = pd.to_datetime(df['ended_at'])
df['started_at'] = pd.to_datetime(df['started_at'])

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5860568 entries, 0 to 5860567
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 581.3+ MB

Ride Duration Column for analysis

In [61]:
df['ride_duration'] = df['ended_at'] - df['started_at']

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5860568 entries, 0 to 5860567
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  ride_duration       timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 626.0+ MB

Sorting Columns as per preference

In [65]:
df = df[['ride_id', 'rideable_type', 'member_casual','ride_duration','started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng']]

In [68]:
df

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,C1D650626C8C899A,electric_bike,member,0 days 00:07:32,2024-01-12 15:30:27,2024-01-12 15:37:59,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.903267,-87.634737,41.889177,-87.638506
1,EECD38BDB25BFCB0,electric_bike,member,0 days 00:07:13,2024-01-08 15:45:46,2024-01-08 15:52:59,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.902937,-87.634440,41.889177,-87.638506
2,F4A9CE78061F17F7,electric_bike,member,0 days 00:08:00,2024-01-27 12:27:19,2024-01-27 12:35:19,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.902951,-87.634470,41.889177,-87.638506
3,0A0D9E15EE50B171,classic_bike,member,0 days 00:29:49,2024-01-29 16:26:17,2024-01-29 16:56:06,Wells St & Randolph St,TA1305000030,Larrabee St & Webster Ave,13193,41.884295,-87.633963,41.921822,-87.644140
4,33FFC9805E3EFF9A,classic_bike,member,0 days 00:26:12,2024-01-31 05:43:23,2024-01-31 06:09:35,Lincoln Ave & Waveland Ave,13253,Kingsbury St & Kinzie St,KA1503000043,41.948797,-87.675278,41.889177,-87.638506
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5860563,BD56BA20F42E4794,electric_bike,member,0 days 00:13:48,2024-12-11 08:23:46,2024-12-11 08:37:34,Clybourn Ave & Division St,TA1307000115,NaN,NaN,41.904634,-87.640518,41.880000,-87.630000
5860564,3074643A6B60B300,electric_bike,member,0 days 00:11:17,2024-12-09 12:26:15,2024-12-09 12:37:32,Canal St & Jackson Blvd,13138,NaN,NaN,41.878125,-87.639968,41.900000,-87.620000
5860565,15602635C5DF484E,electric_bike,member,0 days 00:07:18,2024-12-31 17:10:03,2024-12-31 17:17:21,Albany Ave & Bloomingdale Ave,15655,California Ave & Milwaukee Ave,13084,41.914027,-87.705126,41.922695,-87.697153
5860566,F15ABBA961560B75,electric_bike,member,0 days 00:05:34,2024-12-01 14:39:47,2024-12-01 14:45:21,Albany Ave & Bloomingdale Ave,15655,California Ave & Milwaukee Ave,13084,41.914003,-87.705099,41.922695,-87.697153
5860567,8AF273287533B527,electric_bike,member,0 days 00:07:55,2024-12-17 06:38:32,2024-12-17 06:46:27,Albany Ave & Bloomingdale Ave,15655,NaN,NaN,41.914027,-87.705126,41.920000,-87.690000

Identifying ride duration

In [67]:
df.describe()

,ride_duration,started_at,ended_at,start_lat,start_lng,end_lat,end_lng
count,5860568,5860568,5860568,5.860568e+06,5.860568e+06,5.853336e+06,5.853336e+06
mean,0 days 00:17:18.935394316,2024-07-17 07:55:47.262122240,2024-07-17 08:13:06.197516800,4.190218e+01,-8.764622e+01,4.190258e+01,-8.764644e+01
min,-2 days +02:11:41,2024-01-01 00:00:39,2024-01-01 00:04:20,4.164000e+01,-8.791000e+01,1.606000e+01,-1.440500e+02
25%,0 days 00:05:33,2024-05-20 19:47:53,2024-05-20 20:07:54.750000128,4.188096e+01,-8.766000e+01,4.188096e+01,-8.766000e+01
50%,0 days 00:09:43,2024-07-22 20:36:16,2024-07-22 20:53:58.500000,4.189736e+01,-8.764182e+01,4.189776e+01,-8.764288e+01
75%,0 days 00:17:15,2024-09-17 20:14:21.750000128,2024-09-17 20:27:45.249999872,4.193000e+01,-8.762952e+01,4.193000e+01,-8.762954e+01
max,1 days 01:59:56,2024-12-31 23:56:49,2024-12-31 23:59:55,4.207000e+01,-8.752000e+01,8.796000e+01,1.525300e+02
std,0 days 01:01:36.156422867,NaN,NaN,4.474907e-02,2.748958e-02,5.598336e-02,1.136824e-01

In [69]:
df[df['ride_duration'] < pd.Timedelta(0)]

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
19682,3178F8568B02A678,classic_bike,member,-1 days +23:59:59,2024-01-10 07:26:59,2024-01-10 07:26:58,Clark St & Leland Ave,TA1309000014,Clark St & Leland Ave,TA1309000014,41.967088,-87.667291,41.967088,-87.667291
87205,15792904345CE6AE,electric_bike,member,-1 days +23:59:59,2024-01-08 08:21:34,2024-01-08 08:21:33,Honore St & Division St,TA1305000034,NaN,NaN,41.903168,-87.673814,41.900000,-87.670000
90596,7C2B9266971D5862,electric_bike,member,-1 days +23:23:08,2024-01-21 14:57:56,2024-01-21 14:21:04,Lake Park Ave & 53rd St,KA1503000059,NaN,NaN,41.799535,-87.586439,41.810000,-87.600000
90684,3ADCE21FEE848DAC,electric_bike,member,-1 days +23:20:02,2024-01-18 09:59:36,2024-01-18 09:19:38,Ellis Ave & 55th St,KA1504000076,NaN,NaN,41.794279,-87.601417,41.800000,-87.600000
94643,D688B0ED24D11C65,electric_bike,member,-1 days +23:22:10,2024-01-21 17:22:48,2024-01-21 16:44:58,Ellis Ave & 55th St,KA1504000076,NaN,NaN,41.794219,-87.601477,41.800000,-87.590000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5650944,3A587733462DA2C3,electric_bike,casual,-1 days +23:19:40,2024-11-03 01:57:49,2024-11-03 01:17:29,Dearborn Pkwy & Delaware Pl,TA1307000128,NaN,NaN,41.898969,-87.629912,41.950000,-87.670000
5656869,4BD1F0EE07E79421,classic_bike,casual,-1 days +23:25:09,2024-11-03 01:51:30,2024-11-03 01:16:39,Clark St & Wrightwood Ave,TA1305000014,Kildare Ave & Montrose Ave,KA1706005015,41.929546,-87.643118,41.961080,-87.735690
5663556,C497066FD1D05EEE,electric_bike,casual,-1 days +23:05:30,2024-11-03 01:58:02,2024-11-03 01:03:32,NaN,NaN,Clark St & Elm St,TA1307000039,41.910000,-87.640000,41.902973,-87.631280
5663771,6D8CC446C1251515,electric_bike,casual,-1 days +23:14:14,2024-11-03 01:52:30,2024-11-03 01:06:44,Ashland Ave & Blackhawk St,13224,Damen Ave & Cullerton St,13089,41.907066,-87.667252,41.854967,-87.675700
5680783,E8F98270528A59CC,electric_bike,member,-1 days +23:08:17,2024-11-03 01:54:55,2024-11-03 01:03:12,NaN,NaN,Wells St & Institute Pl,22001,41.880000,-87.640000,41.897380,-87.634420

In [98]:
negative_duration_data = df[df['ride_duration'] < pd.Timedelta(0)]
negative_duration_data.reset_index(drop = True, inplace=True)
negative_duration_data

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,3178F8568B02A678,classic_bike,member,-1 days +23:59:59,2024-01-10 07:26:59,2024-01-10 07:26:58,Clark St & Leland Ave,TA1309000014,Clark St & Leland Ave,TA1309000014,41.967088,-87.667291,41.967088,-87.667291
1,15792904345CE6AE,electric_bike,member,-1 days +23:59:59,2024-01-08 08:21:34,2024-01-08 08:21:33,Honore St & Division St,TA1305000034,NaN,NaN,41.903168,-87.673814,41.900000,-87.670000
2,7C2B9266971D5862,electric_bike,member,-1 days +23:23:08,2024-01-21 14:57:56,2024-01-21 14:21:04,Lake Park Ave & 53rd St,KA1503000059,NaN,NaN,41.799535,-87.586439,41.810000,-87.600000
3,3ADCE21FEE848DAC,electric_bike,member,-1 days +23:20:02,2024-01-18 09:59:36,2024-01-18 09:19:38,Ellis Ave & 55th St,KA1504000076,NaN,NaN,41.794279,-87.601417,41.800000,-87.600000
4,D688B0ED24D11C65,electric_bike,member,-1 days +23:22:10,2024-01-21 17:22:48,2024-01-21 16:44:58,Ellis Ave & 55th St,KA1504000076,NaN,NaN,41.794219,-87.601477,41.800000,-87.590000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,3A587733462DA2C3,electric_bike,casual,-1 days +23:19:40,2024-11-03 01:57:49,2024-11-03 01:17:29,Dearborn Pkwy & Delaware Pl,TA1307000128,NaN,NaN,41.898969,-87.629912,41.950000,-87.670000
223,4BD1F0EE07E79421,classic_bike,casual,-1 days +23:25:09,2024-11-03 01:51:30,2024-11-03 01:16:39,Clark St & Wrightwood Ave,TA1305000014,Kildare Ave & Montrose Ave,KA1706005015,41.929546,-87.643118,41.961080,-87.735690
224,C497066FD1D05EEE,electric_bike,casual,-1 days +23:05:30,2024-11-03 01:58:02,2024-11-03 01:03:32,NaN,NaN,Clark St & Elm St,TA1307000039,41.910000,-87.640000,41.902973,-87.631280
225,6D8CC446C1251515,electric_bike,casual,-1 days +23:14:14,2024-11-03 01:52:30,2024-11-03 01:06:44,Ashland Ave & Blackhawk St,13224,Damen Ave & Cullerton St,13089,41.907066,-87.667252,41.854967,-87.675700
226,E8F98270528A59CC,electric_bike,member,-1 days +23:08:17,2024-11-03 01:54:55,2024-11-03 01:03:12,NaN,NaN,Wells St & Institute Pl,22001,41.880000,-87.640000,41.897380,-87.634420

In [75]:
data = df

In [82]:
data = df[df['ride_duration'] > pd.Timedelta(0)]
data.sort_values(by='ride_duration')

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
5849520,3A7EF623BC96143B,electric_bike,casual,0 days 00:00:01,2024-12-15 13:31:52,2024-12-15 13:31:53,NaN,NaN,NaN,NaN,41.890000,-87.650000,41.890000,-87.650000
4516508,0FA659821ABA743D,electric_bike,casual,0 days 00:00:01,2024-09-19 16:32:49,2024-09-19 16:32:50,Green St & Randolph St*,chargingstx3,Green St & Randolph St*,chargingstx3,41.883602,-87.648627,41.883602,-87.648627
1913309,02A00C701A264C77,electric_bike,casual,0 days 00:00:01,2024-06-13 16:46:58,2024-06-13 16:46:59,Public Rack - Austin Blvd & North Ave,571,Public Rack - Austin Blvd & North Ave,571,41.909405,-87.775690,41.909281,-87.775613
2375849,2BC790F5C14D592D,electric_bike,member,0 days 00:00:01,2024-06-05 10:12:42,2024-06-05 10:12:43,NaN,NaN,NaN,NaN,41.880000,-87.650000,41.880000,-87.650000
4709583,168967E9C6C20E77,electric_bike,member,0 days 00:00:01,2024-09-13 11:26:29,2024-09-13 11:26:30,NaN,NaN,NaN,NaN,41.890000,-87.640000,41.890000,-87.640000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481660,A243363027749E4B,classic_bike,member,1 days 01:59:48,2024-03-09 10:52:26,2024-03-10 12:52:14,Clinton St & Tilden St,13037,NaN,NaN,41.875885,-87.640795,NaN,NaN
518487,88D00324B450377C,classic_bike,casual,1 days 01:59:51,2024-03-09 23:17:38,2024-03-11 01:17:29,Jeffery Blvd & 76th St,KA1503000028,NaN,NaN,41.757120,-87.575839,NaN,NaN
493741,5C466397FA10F4E5,classic_bike,casual,1 days 01:59:54,2024-03-09 17:30:58,2024-03-10 19:30:52,Streeter Dr & Grand Ave,13022,NaN,NaN,41.892278,-87.612043,NaN,NaN
602374,446B8A4213AAD837,classic_bike,casual,1 days 01:59:55,2024-03-09 11:40:48,2024-03-10 13:40:43,Franklin St & Chicago Ave,13017,NaN,NaN,41.896747,-87.635668,NaN,NaN
527863,2E7A26B0B6513B10,classic_bike,casual,1 days 01:59:56,2024-03-09 07:48:01,2024-03-10 09:47:57,Green St & Madison St,TA1307000120,NaN,NaN,41.881859,-87.649264,NaN,NaN

In [91]:
data = df

In [92]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5860568 entries, 0 to 5860567
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       timedelta64[ns]
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 626.0+ MB

In [96]:
zero_ride_duration = df[df['ride_duration'] == pd.Timedelta(0)]

In [97]:
zero_ride_duration.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Bad Data Extracted\zero_ride_duration.csv', sep=',', index=False)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5860568 entries, 0 to 5860567
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       timedelta64[ns]
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 626.0+ MB

In [100]:
df = df[df['ride_duration'] > pd.Timedelta(0)]

In [102]:
df.reset_index(drop=True, inplace = True)

In [104]:
df.sort_values(by='started_at', inplace=True)

C:\Users\username\AppData\Local\Temp\ipykernel_10780\3920439615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by='started_at', inplace=True)

In [106]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5859845 entries, 0 to 5859844
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       timedelta64[ns]
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 625.9+ MB

In [110]:
df.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Bad Data Extracted\data_without_496_negative and zero ride_duration', sep=',', index=False)

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5859845 entries, 0 to 5859844
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       timedelta64[ns]
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 625.9+ MB

In [113]:
df

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,6A9D809ABDF70617,electric_bike,member,0 days 00:07:17,2024-01-01 00:00:39,2024-01-01 00:07:56,NaN,NaN,Clark St & Wrightwood Ave,TA1305000014,41.950000,-87.650000,41.929546,-87.643118
1,26B9F6E416A68EBA,electric_bike,casual,0 days 00:03:30,2024-01-01 00:00:50,2024-01-01 00:04:20,NaN,NaN,NaN,NaN,41.900000,-87.620000,41.900000,-87.620000
2,30EF016A0DF5ECEE,electric_bike,casual,0 days 00:03:33,2024-01-01 00:00:52,2024-01-01 00:04:25,NaN,NaN,NaN,NaN,41.900000,-87.620000,41.900000,-87.620000
3,0D9E85F804C85828,electric_bike,member,0 days 00:21:37,2024-01-01 00:00:53,2024-01-01 00:22:30,Clinton St & Madison St,TA1305000032,NaN,NaN,41.881909,-87.641296,41.890000,-87.620000
4,56F5C3ED5178C131,classic_bike,member,0 days 00:23:11,2024-01-01 00:01:01,2024-01-01 00:24:12,LaSalle St & Illinois St,13430,Indiana Ave & Roosevelt Rd,SL-005,41.890762,-87.631697,41.867888,-87.623041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5859840,D10276507FC2E40A,electric_bike,member,0 days 00:05:30,2024-12-31 23:52:49,2024-12-31 23:58:19,Clinton St & Tilden St,13037,Daley Center Plaza,TA1306000010,41.875885,-87.640795,41.884241,-87.629634
5859841,C8FBE8FBA3C157F1,electric_bike,casual,0 days 00:05:27,2024-12-31 23:54:01,2024-12-31 23:59:28,Michigan Ave & Jackson Blvd,TA1309000002,Stetson Ave & South Water St,TA1308000029,41.877768,-87.624164,41.886835,-87.622320
5859842,B14C678DEA55A583,electric_bike,member,0 days 00:02:42,2024-12-31 23:54:37,2024-12-31 23:57:19,Paulina St & 18th St,TA1307000159,Racine Ave & 18th St,13164,41.857901,-87.668745,41.858400,-87.656423
5859843,86CB9E2042DD6E4F,electric_bike,member,0 days 00:00:13,2024-12-31 23:56:38,2024-12-31 23:56:51,Dusable Harbor,KA1503000064,Dusable Harbor,KA1503000064,41.886976,-87.612813,41.886976,-87.612813
5859844,3E73BF87F0F0325A,electric_bike,member,0 days 00:00:51,2024-12-31 23:56:49,2024-12-31 23:57:40,Sheffield Ave & Fullerton Ave,TA1306000016,Sheffield Ave & Fullerton Ave,TA1306000016,41.925616,-87.653657,41.925616,-87.653657

In [114]:
df.isna().sum()

ride_id                     0
rideable_type               0
member_casual               0
ride_duration               0
started_at                  0
ended_at                    0
start_station_name    1073569
start_station_id      1073569
end_station_name      1104195
end_station_id        1104195
start_lat                   0
start_lng                   0
end_lat                  7232
end_lng                  7232
dtype: int64

Dropping Feild of Location with Nulls

In [126]:
drop_na = df

In [127]:
drop_na = df[
    (df['start_station_name'].isna()) |
    (df['end_station_name'].isna()) | 
    (df['end_lat'].isna())
]

In [128]:
drop_na

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,6A9D809ABDF70617,electric_bike,member,0 days 00:07:17,2024-01-01 00:00:39,2024-01-01 00:07:56,NaN,NaN,Clark St & Wrightwood Ave,TA1305000014,41.950000,-87.650000,41.929546,-87.643118
1,26B9F6E416A68EBA,electric_bike,casual,0 days 00:03:30,2024-01-01 00:00:50,2024-01-01 00:04:20,NaN,NaN,NaN,NaN,41.900000,-87.620000,41.900000,-87.620000
2,30EF016A0DF5ECEE,electric_bike,casual,0 days 00:03:33,2024-01-01 00:00:52,2024-01-01 00:04:25,NaN,NaN,NaN,NaN,41.900000,-87.620000,41.900000,-87.620000
3,0D9E85F804C85828,electric_bike,member,0 days 00:21:37,2024-01-01 00:00:53,2024-01-01 00:22:30,Clinton St & Madison St,TA1305000032,NaN,NaN,41.881909,-87.641296,41.890000,-87.620000
5,A2DA242FA988F2C6,electric_bike,member,0 days 00:24:19,2024-01-01 00:01:30,2024-01-01 00:25:49,NaN,NaN,NaN,NaN,41.870000,-87.620000,41.900000,-87.640000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5859828,5A864333AD3CEF87,electric_bike,casual,0 days 00:07:33,2024-12-31 23:48:08,2024-12-31 23:55:41,State St & Van Buren St,TA1305000035,NaN,NaN,41.877181,-87.627844,41.890000,-87.630000
5859831,EB7A3ECA918BF6F6,electric_bike,member,0 days 00:05:20,2024-12-31 23:48:46,2024-12-31 23:54:06,Sheridan Rd & Montrose Ave,TA1307000107,NaN,NaN,41.961554,-87.654629,41.980000,-87.660000
5859835,7CF869DCE2957DE6,electric_bike,member,0 days 00:01:12,2024-12-31 23:49:45,2024-12-31 23:50:57,NaN,NaN,NaN,NaN,41.940000,-87.670000,41.940000,-87.670000
5859838,E27262FCDB1EE7F0,electric_bike,member,0 days 00:02:07,2024-12-31 23:51:33,2024-12-31 23:53:40,NaN,NaN,NaN,NaN,41.980000,-87.670000,41.990000,-87.670000
5859839,42A281492CEB3133,electric_bike,member,0 days 00:07:13,2024-12-31 23:52:30,2024-12-31 23:59:43,NaN,NaN,Southport Ave & Waveland Ave,13235,41.950000,-87.660000,41.948226,-87.664071

In [131]:
drop_na.reset_index(drop=True, inplace=True)

In [132]:
drop_na.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1651749 entries, 0 to 1651748
Data columns (total 14 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1651749 non-null  object
 1   rideable_type       1651749 non-null  object
 2   member_casual       1651749 non-null  object
 3   ride_duration       1651749 non-null  timedelta64[ns]
 4   started_at          1651749 non-null  datetime64[ns]
 5   ended_at            1651749 non-null  datetime64[ns]
 6   start_station_name  578180 non-null   object
 7   start_station_id    578180 non-null   object
 8   end_station_name    547554 non-null   object
 9   end_station_id      547554 non-null   object
 10  start_lat           1651749 non-null  float64
 11  start_lng           1651749 non-null  float64
 12  end_lat             1644517 non-null  float64
 13  end_lng             1644517 non-null  float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 176.4+ MB

In [133]:
drop_na.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Bad Data Extracted\null_feilds_data.csv', sep=',', index=False)

In [134]:
df.dropna(subset = ['start_station_name', 'end_station_name', 'end_lat'], inplace=True)

C:\Users\username\AppData\Local\Temp\ipykernel_10780\2381214878.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset = ['start_station_name', 'end_station_name', 'end_lat'], inplace=True)

In [137]:
df.reset_index(drop=True, inplace=True)

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4208096 entries, 0 to 4208095
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       timedelta64[ns]
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 449.5+ MB

In [135]:
df.isna().sum()

ride_id               0
rideable_type         0
member_casual         0
ride_duration         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
dtype: int64

In [139]:
backup = df

In [140]:
backup

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,56F5C3ED5178C131,classic_bike,member,0 days 00:23:11,2024-01-01 00:01:01,2024-01-01 00:24:12,LaSalle St & Illinois St,13430,Indiana Ave & Roosevelt Rd,SL-005,41.890762,-87.631697,41.867888,-87.623041
1,70BDF49A30C8BFFC,classic_bike,casual,0 days 00:04:46,2024-01-01 00:02:15,2024-01-01 00:07:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800
2,B7F1F63BD1AFF4E9,classic_bike,member,0 days 00:10:22,2024-01-01 00:06:59,2024-01-01 00:17:21,Western Ave & Howard St,527,Clark St & Lunt Ave,KA1504000162,42.018901,-87.690048,42.009011,-87.674112
3,444DD0D82A50BA8C,classic_bike,casual,0 days 00:07:56,2024-01-01 00:07:45,2024-01-01 00:15:41,DuSable Lake Shore Dr & North Blvd,LF-005,Sedgwick St & Webster Ave,13191,41.911722,-87.626804,41.922167,-87.638888
4,510C1C0AA564ADF0,classic_bike,casual,0 days 00:21:45,2024-01-01 00:07:57,2024-01-01 00:29:42,Clinton St & Tilden St,13037,LaSalle St & Illinois St,13430,41.875885,-87.640795,41.890762,-87.631697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4208091,D10276507FC2E40A,electric_bike,member,0 days 00:05:30,2024-12-31 23:52:49,2024-12-31 23:58:19,Clinton St & Tilden St,13037,Daley Center Plaza,TA1306000010,41.875885,-87.640795,41.884241,-87.629634
4208092,C8FBE8FBA3C157F1,electric_bike,casual,0 days 00:05:27,2024-12-31 23:54:01,2024-12-31 23:59:28,Michigan Ave & Jackson Blvd,TA1309000002,Stetson Ave & South Water St,TA1308000029,41.877768,-87.624164,41.886835,-87.622320
4208093,B14C678DEA55A583,electric_bike,member,0 days 00:02:42,2024-12-31 23:54:37,2024-12-31 23:57:19,Paulina St & 18th St,TA1307000159,Racine Ave & 18th St,13164,41.857901,-87.668745,41.858400,-87.656423
4208094,86CB9E2042DD6E4F,electric_bike,member,0 days 00:00:13,2024-12-31 23:56:38,2024-12-31 23:56:51,Dusable Harbor,KA1503000064,Dusable Harbor,KA1503000064,41.886976,-87.612813,41.886976,-87.612813
4208095,3E73BF87F0F0325A,electric_bike,member,0 days 00:00:51,2024-12-31 23:56:49,2024-12-31 23:57:40,Sheffield Ave & Fullerton Ave,TA1306000016,Sheffield Ave & Fullerton Ave,TA1306000016,41.925616,-87.653657,41.925616,-87.653657

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4208096 entries, 0 to 4208095
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       timedelta64[ns]
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 449.5+ MB

In [142]:
df.describe()

,ride_duration,started_at,ended_at,start_lat,start_lng,end_lat,end_lng
count,4208096,4208096,4208096,4.208096e+06,4.208096e+06,4.208096e+06,4.208096e+06
mean,0 days 00:16:39.551321785,2024-07-15 06:59:00.833579520,2024-07-15 07:15:40.384901120,4.189921e+01,-8.764391e+01,4.189972e+01,-8.764420e+01
min,0 days 00:00:01,2024-01-01 00:01:01,2024-01-01 00:07:01,4.164850e+01,-8.785797e+01,4.164850e+01,-8.784396e+01
25%,0 days 00:05:50,2024-05-18 08:09:40.750000128,2024-05-18 08:25:41,4.188032e+01,-8.765642e+01,4.188042e+01,-8.765694e+01
50%,0 days 00:10:08,2024-07-20 20:31:30.500000,2024-07-20 20:54:44,4.189456e+01,-8.764083e+01,4.189472e+01,-8.764098e+01
75%,0 days 00:18:13,2024-09-17 14:41:14.500000,2024-09-17 15:00:03.750000128,4.192533e+01,-8.762680e+01,4.192560e+01,-8.762694e+01
max,1 days 01:09:22,2024-12-31 23:56:49,2024-12-31 23:59:28,4.206487e+01,-8.752748e+01,4.206485e+01,-8.752823e+01
std,0 days 00:35:33.900538161,NaN,NaN,4.327575e-02,2.586505e-02,4.344671e-02,2.597024e-02

In [143]:
df.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Good Data Stamp\v1_data without null values.csv', sep=',', index=False)

Finding Duplicates and removing them

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4208096 entries, 0 to 4208095
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       timedelta64[ns]
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 449.5+ MB

In [146]:
df.sort_values(by='started_at', inplace=True)

C:\Users\username\AppData\Local\Temp\ipykernel_10780\3920439615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by='started_at', inplace=True)

In [147]:
df

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,56F5C3ED5178C131,classic_bike,member,0 days 00:23:11,2024-01-01 00:01:01,2024-01-01 00:24:12,LaSalle St & Illinois St,13430,Indiana Ave & Roosevelt Rd,SL-005,41.890762,-87.631697,41.867888,-87.623041
1,70BDF49A30C8BFFC,classic_bike,casual,0 days 00:04:46,2024-01-01 00:02:15,2024-01-01 00:07:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800
2,B7F1F63BD1AFF4E9,classic_bike,member,0 days 00:10:22,2024-01-01 00:06:59,2024-01-01 00:17:21,Western Ave & Howard St,527,Clark St & Lunt Ave,KA1504000162,42.018901,-87.690048,42.009011,-87.674112
3,444DD0D82A50BA8C,classic_bike,casual,0 days 00:07:56,2024-01-01 00:07:45,2024-01-01 00:15:41,DuSable Lake Shore Dr & North Blvd,LF-005,Sedgwick St & Webster Ave,13191,41.911722,-87.626804,41.922167,-87.638888
4,510C1C0AA564ADF0,classic_bike,casual,0 days 00:21:45,2024-01-01 00:07:57,2024-01-01 00:29:42,Clinton St & Tilden St,13037,LaSalle St & Illinois St,13430,41.875885,-87.640795,41.890762,-87.631697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4208091,D10276507FC2E40A,electric_bike,member,0 days 00:05:30,2024-12-31 23:52:49,2024-12-31 23:58:19,Clinton St & Tilden St,13037,Daley Center Plaza,TA1306000010,41.875885,-87.640795,41.884241,-87.629634
4208092,C8FBE8FBA3C157F1,electric_bike,casual,0 days 00:05:27,2024-12-31 23:54:01,2024-12-31 23:59:28,Michigan Ave & Jackson Blvd,TA1309000002,Stetson Ave & South Water St,TA1308000029,41.877768,-87.624164,41.886835,-87.622320
4208093,B14C678DEA55A583,electric_bike,member,0 days 00:02:42,2024-12-31 23:54:37,2024-12-31 23:57:19,Paulina St & 18th St,TA1307000159,Racine Ave & 18th St,13164,41.857901,-87.668745,41.858400,-87.656423
4208094,86CB9E2042DD6E4F,electric_bike,member,0 days 00:00:13,2024-12-31 23:56:38,2024-12-31 23:56:51,Dusable Harbor,KA1503000064,Dusable Harbor,KA1503000064,41.886976,-87.612813,41.886976,-87.612813
4208095,3E73BF87F0F0325A,electric_bike,member,0 days 00:00:51,2024-12-31 23:56:49,2024-12-31 23:57:40,Sheffield Ave & Fullerton Ave,TA1306000016,Sheffield Ave & Fullerton Ave,TA1306000016,41.925616,-87.653657,41.925616,-87.653657

In [148]:
df.nunique()

ride_id               4207975
rideable_type               3
member_casual               2
ride_duration           20016
started_at            3695056
ended_at              3705634
start_station_name       1789
start_station_id         1744
end_station_name         1799
end_station_id           1750
start_lat              429864
start_lng              416558
end_lat                  2332
end_lng                  2333
dtype: int64

Dropping duplicate Ride_Ids

In [149]:
duplicated = df

In [152]:
filt = duplicated.duplicated(keep=False)
duplicated[filt]

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
1255100,116163E4247CD8D2,classic_bike,member,0 days 12:16:21,2024-05-31 11:49:34,2024-06-01 00:05:55,Broadway & Ridge Ave,15578,Paulina St & Montrose Ave,TA1309000021,41.984045,-87.660274,41.961507,-87.671387
1255101,116163E4247CD8D2,classic_bike,member,0 days 12:16:21,2024-05-31 11:49:34,2024-06-01 00:05:55,Broadway & Ridge Ave,15578,Paulina St & Montrose Ave,TA1309000021,41.984045,-87.660274,41.961507,-87.671387
1255124,B1B9E66D2E7C383D,classic_bike,casual,0 days 22:02:31,2024-05-31 11:50:26,2024-06-01 09:52:57,Austin Blvd & Madison St,16918,Austin Blvd & Madison St,16918,41.880281,-87.774453,41.880281,-87.774453
1255125,B1B9E66D2E7C383D,classic_bike,casual,0 days 22:02:31,2024-05-31 11:50:26,2024-06-01 09:52:57,Austin Blvd & Madison St,16918,Austin Blvd & Madison St,16918,41.880281,-87.774453,41.880281,-87.774453
1260277,05D27072A33A290C,classic_bike,member,0 days 11:37:59,2024-05-31 16:34:46,2024-06-01 04:12:45,Dearborn St & Erie St,13045,DuSable Lake Shore Dr & Diversey Pkwy,TA1309000039,41.893992,-87.629318,41.932588,-87.636427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268715,498F8D958AA5D698,electric_bike,member,0 days 00:02:15,2024-05-31 23:58:09,2024-06-01 00:00:24,Wells St & Institute Pl,22001,Wells St & Elm St,KA1504000135,41.897422,-87.634380,41.903222,-87.634324
1268718,7A3224608C3E5179,electric_bike,casual,0 days 00:07:02,2024-05-31 23:59:37,2024-06-01 00:06:39,Dayton St & North Ave,13058,Sheffield Ave & Wrightwood Ave,TA1309000023,41.910589,-87.649394,41.928712,-87.653833
1268719,7A3224608C3E5179,electric_bike,casual,0 days 00:07:02,2024-05-31 23:59:37,2024-06-01 00:06:39,Dayton St & North Ave,13058,Sheffield Ave & Wrightwood Ave,TA1309000023,41.910589,-87.649394,41.928712,-87.653833
1268720,710616EF83DFB247,electric_bike,member,0 days 00:20:29,2024-05-31 23:59:47,2024-06-01 00:20:16,Seeley Ave & Roscoe St,13144,Green St & Madison St,TA1307000120,41.943434,-87.679647,41.881859,-87.649264
1268721,710616EF83DFB247,electric_bike,member,0 days 00:20:29,2024-05-31 23:59:47,2024-06-01 00:20:16,Seeley Ave & Roscoe St,13144,Green St & Madison St,TA1307000120,41.943434,-87.679647,41.881859,-87.649264

In [153]:
duplicate_records = duplicated[filt]

In [155]:
duplicate_records.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Bad Data Extracted\duplicated_rows.csv', sep=',', index=False)

In [156]:
d_rec = df

In [158]:
d_rec.drop_duplicates(subset='ride_id', keep='first', inplace=True)

C:\Users\username\AppData\Local\Temp\ipykernel_10780\3673832858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_rec.drop_duplicates(subset='ride_id', keep='first', inplace=True)

In [161]:
d_rec.reset_index(drop=True, inplace=True)

In [163]:
d_rec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4207975 entries, 0 to 4207974
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       timedelta64[ns]
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 449.5+ MB

In [164]:
df = d_rec

In [166]:
df.isna().sum()

ride_id               0
rideable_type         0
member_casual         0
ride_duration         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
dtype: int64

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4207975 entries, 0 to 4207974
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       timedelta64[ns]
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 449.5+ MB

In [167]:
df.nunique()

ride_id               4207975
rideable_type               3
member_casual               2
ride_duration           20016
started_at            3695056
ended_at              3705634
start_station_name       1789
start_station_id         1744
end_station_name         1799
end_station_id           1750
start_lat              429864
start_lng              416558
end_lat                  2332
end_lng                  2333
dtype: int64

In [170]:
df.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Good Data Stamp\v2_no duplictae ride_id.csv', sep=',', index=False)

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4207975 entries, 0 to 4207974
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       timedelta64[ns]
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 449.5+ MB

In [172]:
df.nunique()

ride_id               4207975
rideable_type               3
member_casual               2
ride_duration           20016
started_at            3695056
ended_at              3705634
start_station_name       1789
start_station_id         1744
end_station_name         1799
end_station_id           1750
start_lat              429864
start_lng              416558
end_lat                  2332
end_lng                  2333
dtype: int64

In [173]:
backup = df

We noticed differences in loc id for start and end

In [207]:
f_dp = df

In [229]:
f_dp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4207975 entries, 0 to 4207974
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       timedelta64[ns]
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 449.5+ MB

In [237]:
start_id_gr = f_dp.groupby('start_station_id')['start_station_name'].nunique().reset_index(name= "count")

In [238]:
start_id_gr = start_id_gr[start_id_gr['count'] > 1]

In [243]:
start_id_gr.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Bad Data Extracted\start_id_shared.csv', sep=',', index=False)

In [241]:
end_id_gr = f_dp.groupby('end_station_id')['end_station_name'].nunique().reset_index(name= "count")
end_id_gr = end_id_gr[end_id_gr['count'] > 1]

In [244]:
end_id_gr.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Bad Data Extracted\end_id_shared.csv', sep=',', index=False)

In [246]:
start_id_gr['start_station_id']

375          1524189
496            20129
566            21322
596            21366
599            21371
            ...
1121             662
1123             665
1496    KA1503000074
1551      KA17018054
1594    TA1305000030
Name: start_station_id, Length: 91, dtype: object

In [251]:
id_data = f_dp[
    f_dp['start_station_id'].isin(start_id_gr['start_station_id']) &
    f_dp['end_station_id'].isin(end_id_gr['end_station_id']) 
]

In [253]:
id_data.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Bad Data Extracted\shared_loc_ids.csv', sep=',', index=False)

In [ ]:
start_id = id_data.groupby(['start_station_id', 'start_station_name']).size()

start_station_id  start_station_name
1524189           Lowell Ave & Armitage              36
                  Lowell Ave & Armitage Ave          17
20129             Ada St & 113th St                   7
21322             Grace & Cicero                      9
                  Grace St & Cicero Ave              60
                                                   ...
KA1503000074      Museum of Science and Industry    201
KA17018054        Damen Ave & Lake St               175
                  Damen Ave & Walnut (Lake) St      123
TA1305000030      Clark St & Randolph St             30
                  Wells St & Randolph St            586
Length: 143, dtype: int64

In [260]:
end_id = id_data.groupby(['end_station_id', 'end_station_name']).size()

In [266]:
end_id

end_station_id  end_station_name
1524189         Lowell Ave & Armitage              42
                Lowell Ave & Armitage Ave          20
20129           Ada St & 113th St                   7
21322           Grace & Cicero                      3
                Grace St & Cicero Ave              71
                                                 ...
KA1503000074    Museum of Science and Industry    200
KA17018054      Damen Ave & Lake St               148
                Damen Ave & Walnut (Lake) St       97
TA1305000030    Clark St & Randolph St             25
                Wells St & Randolph St            515
Length: 151, dtype: int64