In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Good Data Stamp\v4_ka_updated.csv')

In [4]:
df = pd.DataFrame(data)

In [5]:
df

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,56F5C3ED5178C131,classic_bike,member,0 days 00:23:11,2024-01-01 00:01:01,2024-01-01 00:24:12,LaSalle St & Illinois St,13430,Indiana Ave & Roosevelt Rd,SL-005,41.890762,-87.631697,41.867888,-87.623041
1,70BDF49A30C8BFFC,classic_bike,casual,0 days 00:04:46,2024-01-01 00:02:15,2024-01-01 00:07:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800
2,B7F1F63BD1AFF4E9,classic_bike,member,0 days 00:10:22,2024-01-01 00:06:59,2024-01-01 00:17:21,Western Ave & Howard St,527,Clark St & Lunt Ave,KA1504000162,42.018901,-87.690048,42.009011,-87.674112
3,444DD0D82A50BA8C,classic_bike,casual,0 days 00:07:56,2024-01-01 00:07:45,2024-01-01 00:15:41,DuSable Lake Shore Dr & North Blvd,LF-005,Sedgwick St & Webster Ave,13191,41.911722,-87.626804,41.922167,-87.638888
4,510C1C0AA564ADF0,classic_bike,casual,0 days 00:21:45,2024-01-01 00:07:57,2024-01-01 00:29:42,Clinton St & Tilden St,13037,LaSalle St & Illinois St,13430,41.875885,-87.640795,41.890762,-87.631697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4186393,D10276507FC2E40A,electric_bike,member,0 days 00:05:30,2024-12-31 23:52:49,2024-12-31 23:58:19,Clinton St & Tilden St,13037,Daley Center Plaza,TA1306000010,41.875885,-87.640795,41.884241,-87.629634
4186394,C8FBE8FBA3C157F1,electric_bike,casual,0 days 00:05:27,2024-12-31 23:54:01,2024-12-31 23:59:28,Michigan Ave & Jackson Blvd,TA1309000002,Stetson Ave & South Water St,TA1308000029,41.877768,-87.624164,41.886835,-87.622320
4186395,B14C678DEA55A583,electric_bike,member,0 days 00:02:42,2024-12-31 23:54:37,2024-12-31 23:57:19,Paulina St & 18th St,TA1307000159,Racine Ave & 18th St,13164,41.857901,-87.668745,41.858400,-87.656423
4186396,86CB9E2042DD6E4F,electric_bike,member,0 days 00:00:13,2024-12-31 23:56:38,2024-12-31 23:56:51,Dusable Harbor,KA1503000064,Dusable Harbor,KA1503000064,41.886976,-87.612813,41.886976,-87.612813
4186397,3E73BF87F0F0325A,electric_bike,member,0 days 00:00:51,2024-12-31 23:56:49,2024-12-31 23:57:40,Sheffield Ave & Fullerton Ave,TA1306000016,Sheffield Ave & Fullerton Ave,TA1306000016,41.925616,-87.653657,41.925616,-87.653657

In [10]:
start_ids = [
    "1524189", "20129", "21322", "21366", "21371", "21393", "23114", "23187", 
    "23215", "24156", "514", "515", "517", "518", "519", "520", "523", "525", 
    "527", "528", "KA1503000074"
]

In [11]:
id_filt = df[df['start_station_id'].isin(start_ids)]

In [15]:
id_filt.groupby(["start_station_id","start_station_name"])['start_station_id'].value_counts().reset_index(name='count')

   start_station_id                                 start_station_name  count
0           1524189                              Lowell Ave & Armitage    137
1           1524189                          Lowell Ave & Armitage Ave    154
2             20129                               Ada St & 113th Place      1
3             20129                                  Ada St & 113th St     11
4             21322                                     Grace & Cicero     20
5             21322                              Grace St & Cicero Ave    229
6             21366                               Spaulding Ave & 16th      1
7             21366                            Spaulding Ave & 16th St     69
8             21371                              Kildare & Chicago Ave      6
9             21371                          Kildare Ave & Chicago Ave     51
10            21393                                Oketo Ave & Addison      1
11            21393                             Oketo Ave & Addison St     32
12            23114                              Kildare Ave & 85th St     22
13            23114  Kildare Ave & 85th St (Kostner Ave & 87th St T...     24
14            23187                           Lockwood Ave & Grand Ave    139
15            23187                         Lockwood Ave and Grand Ave     19
16            23215                         Lexington & California Ave      6
17            23215                      Lexington St & California Ave    155
18            24156                          Glenlake Ave & Pulaski Rd      8
19            24156                         Granville Ave & Pulaski Rd     91
20              514                             Hamlin Ave & Grand Ave     12
21              514                             Ridge Blvd & Howard St    687
22              515                           Hamlin Ave & Chicago Ave      2
23              515                             Paulina St & Howard St   1740
24              517                              Clark St & Jarvis Ave   1199
25              517                          Pulaski Rd & Armitage Ave     69
26              518                          Conservatory Dr & Lake St    465
27              518                           Keystone Ave & North Ave     12
28              519                            Kostner Ave & North Ave      4
29              519                            Wolcott Ave & Fargo Ave    350
30              520                         Greenview Ave & Jarvis Ave   2774
31              520                         Karlov Ave & Kamerling Ave     25
32              523                           Eastlake Ter & Howard St   1248
33              523                          Pulaski Rd & Roosevelt Rd      3
34              525                           Glenwood Ave & Touhy Ave   2075
35              525                         Kedzie Ave & Arthington St      1
36              527                 Roswell B. Mason Elementary School      1
37              527                            Western Ave & Howard St   1026
38              528                               Pulaski Rd & 15th St      4
39              528                               Pulaski Rd & Lake St    107
40     KA1503000074             Griffin Museum of Science and Industry   4220
41     KA1503000074                     Museum of Science and Industry   1175

In [16]:
id_filt

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
2,B7F1F63BD1AFF4E9,classic_bike,member,0 days 00:10:22,2024-01-01 00:06:59,2024-01-01 00:17:21,Western Ave & Howard St,527,Clark St & Lunt Ave,KA1504000162,42.018901,-87.690048,42.009011,-87.674112
488,D0E16308C6D62CFB,classic_bike,casual,0 days 00:10:59,2024-01-01 02:43:18,2024-01-01 02:54:17,Paulina St & Howard St,515,Chicago Ave & Washington St,E002,42.019159,-87.673573,42.032562,-87.679101
728,4AF3CC368FDB4AF2,electric_bike,casual,0 days 00:02:25,2024-01-01 09:40:18,2024-01-01 09:42:43,Glenwood Ave & Touhy Ave,525,Greenview Ave & Jarvis Ave,520,42.012858,-87.665943,42.015962,-87.668570
880,719763E6D4B90CA8,classic_bike,casual,0 days 00:45:46,2024-01-01 11:12:44,2024-01-01 11:58:30,Museum of Science and Industry,KA1503000074,Museum of Science and Industry,KA1503000074,41.791728,-87.583945,41.791728,-87.583945
1017,997C2CABD3C0DB16,classic_bike,member,0 days 00:19:24,2024-01-01 11:50:17,2024-01-01 12:09:41,Museum of Science and Industry,KA1503000074,Cottage Grove Ave & 43rd St,TA1308000023,41.791728,-87.583945,41.816499,-87.606582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4186016,C14047AB0B33F9EB,classic_bike,member,0 days 00:06:10,2024-12-31 19:40:59,2024-12-31 19:47:09,Clark St & Jarvis Ave,517,Oakley Ave & Touhy Ave,RP-004,42.015963,-87.675005,42.012342,-87.688243
4186094,7CEC9D5AB2DE39E7,classic_bike,casual,0 days 00:30:53,2024-12-31 20:23:44,2024-12-31 20:54:37,Lowell Ave & Armitage Ave,1524189,Lowell Ave & Armitage Ave,1524189,41.917077,-87.735354,41.917077,-87.735354
4186097,5964DB2ABD764DA8,classic_bike,casual,0 days 00:30:29,2024-12-31 20:24:17,2024-12-31 20:54:46,Lowell Ave & Armitage Ave,1524189,Lowell Ave & Armitage Ave,1524189,41.917077,-87.735354,41.917077,-87.735354
4186276,9C750E8F1087F498,classic_bike,casual,0 days 00:08:16,2024-12-31 22:49:30,2024-12-31 22:57:46,Paulina St & Howard St,515,Western Ave & Howard St,527,42.019159,-87.673573,42.018901,-87.690048
4186294,798FDE36DA2F1B3B,electric_bike,casual,0 days 00:11:23,2024-12-31 22:59:37,2024-12-31 23:11:00,Griffin Museum of Science and Industry,KA1503000074,MLK Jr Dr & 63rd St,KA1503000053,41.791728,-87.583945,41.780081,-87.615943

In [17]:
end_ids = [
    "1524189", "20129", "21322", "21366", "21371", "21379", "23114", "23187",
    "23215", "24156", "24240", "514", "515", "517", "518", "519", "520", "523",
    "525", "527", "528", "530", "534", "535", "536", "537", "540", "543", "545",
    "546", "549", "553", "554", "556", "557", "559", "560", "561", "562", "564",
    "567", "569", "570", "571", "572", "573", "574", "576", "577", "579", "582",
    "583", "584", "585", "586", "587", "588", "590", "592", "593", "594", "595",
    "596", "599", "600", "604", "605", "620", "623", "624", "631", "632", "636",
    "637", "638", "639", "642", "643", "644", "646", "647", "649", "650", "651",
    "652", "KA1503000074"
]

In [18]:
end_id_filt = df[df['end_station_id'].isin(end_ids)]

In [21]:
pd.set_option('display.max_rows', None)

In [26]:
pd.reset_option('display.max_rows')

In [27]:
end_id_filt.groupby(["end_station_id", "end_station_name"])['end_station_id'].value_counts().reset_index(name="count")

    end_station_id                        end_station_name  count
0          1524189                   Lowell Ave & Armitage    156
1          1524189               Lowell Ave & Armitage Ave    148
2            20129                    Ada St & 113th Place      3
3            20129                       Ada St & 113th St     10
4            21322                          Grace & Cicero     14
..             ...                                     ...    ...
167            651                  Michigan Ave & 71st St    123
168            652                  Muskegon Ave & 89th St      2
169            652                    Rhodes Ave & 71st St     29
170   KA1503000074  Griffin Museum of Science and Industry   4234
171   KA1503000074          Museum of Science and Industry   1123

[172 rows x 3 columns]

In [40]:
pd.set_option('display.max_rows', None)

In [77]:
s_df =df

In [75]:
pd.reset_option('display.max_rows')

In [78]:
s_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4186398 entries, 0 to 4186397
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       object
 4   started_at          object
 5   ended_at            object
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: float64(4), object(10)
memory usage: 447.2+ MB

Map function to update start_station_name

In [102]:
station_map = {
    "528": "Pulaski Rd & Lake St",
    "20129": "Ada St & 113th St",
    "21322": "Grace St & Cicero Ave",
    "21366": "Spaulding Ave & 16th St",
    "21371": "Kildare Ave & Chicago Ave",
    "21379": "Rockwell St & Archer Ave",
    "21393": "Oketo Ave & Addison St",
    "23187": "Lockwood Ave & Grand Ave",
    "23215": "Lexington St & California Ave",
    "24240": "Kedzie Ave & 38th St",
    "1524189": "Lowell Ave & Armitage Ave",
    "KA1503000074": "Griffin Museum of Science and Industry"
}

In [100]:
station_id = [
    "528", "20129", "21322", "21366", "21371", "21379", "21393", 
    "23187", "23215", "24240", "1524189", "KA1503000074"
]

In [103]:
s_df['start_station_name'] = s_df['start_station_id'].map(station_map).combine_first(s_df['start_station_name'])

In [105]:
pd.set_option('display.max_rows', None)

In [109]:
verify_start = s_df[s_df['start_station_id'].isin(station_id)]

In [114]:
verify_start.groupby(['start_station_id', 'start_station_name'])['start_station_id'].value_counts()

start_station_id  start_station_name
1524189           Lowell Ave & Armitage Ave                  291
20129             Ada St & 113th St                           12
21322             Grace St & Cicero Ave                      249
21366             Spaulding Ave & 16th St                     70
21371             Kildare Ave & Chicago Ave                   57
21379             Rockwell St & Archer Ave                   296
21393             Oketo Ave & Addison St                      33
23187             Lockwood Ave & Grand Ave                   158
23215             Lexington St & California Ave              161
24240             Kedzie Ave & 38th St                        20
528               Pulaski Rd & Lake St                       111
KA1503000074      Griffin Museum of Science and Industry    5395
Name: count, dtype: int64